/* Footer.css */  
  .social-icons {
    display: flex;
    justify-content: center; /* Alineamos horizontalmente los íconos */
  }
  
  .icon-container {
    display: flex;
    gap: 10px;
    font-size: 24px;
  }
  
  .social-icons a {
    color: #333;
  }
  
  .social-icons a:hover {
    color: #00aced;
  }
  
  p {
    margin-top: 10px;
    font-size: 14px;
    text-align: center;
  }
  .footer {
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    margin-top: 120px;
    background-color: transparent;
    padding: 20px;
    z-index: 2;
  }
 
    